@model Membre
@{
    string pageTitle ="Création de compte";
    string buttonText = "Creer";
    string formAction = "Create";

    if (Model.Id > 0)
    {
        pageTitle = "Modification de compte";
        buttonText = "Modifier";
        formAction = "edit";
    }

    ViewData["Title"] = pageTitle;
}

<div id="create-member-page">
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>@pageTitle</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="image-section">
                <img src="~/img/Members/@Model.Profil" alt="@Html.DisplayFor(model => model.Username)" class="img-thumbnail img-fluid" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-section">
                <form asp-action="@formAction" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Profil" />

                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group row">
                            <label asp-for="Pseudo" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Pseudo" class="form-control" />
                                <span asp-validation-for="Pseudo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Username" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Courriel" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Courriel" class="form-control" />
                                <span asp-validation-for="Courriel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Username" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="MotDePasse" class="col-form-label col-md-3"></label>
                            <div class="col-md-9">
                                <input type="password" asp-for="MotDePasse" class="form-control" />
                                <span asp-validation-for="MotDePasse" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="uploadfile" class="col-form-label col-md-3">Image de profil</label>
                            <div class="col-md-9">
                                <input type="file" id="uploadfile" name="uploadfile" accept=".jpg,.png,.gif" />
                                <div>
                                    <span asp-validation-for="Profil" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="text-center">
                        <input type="submit" value="@buttonText" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row RedirectToLogin">
        <div class="col-12">
            <h2>Une fois votre compte créé/modifié, vous serez directement redirigés vers la page d'authentification pour vous "loguer</h2>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Permet de désactiver la validation en AJAX du champs Name à tous les cliques du clavier
        $.validator.setDefaults({
            onkeyup: function () {
                var originalKeyUp = $.validator.defaults.onkeyup;
                var customKeyUp = function (element, event) {
                    var usernameInput = $("#Username")[0];
                    if (usernameInput === element && usernameInput.value !== "") {
                        return false;
                    }
                    else {
                        return originalKeyUp.call(this, element, event);
                    }
                }

                return customKeyUp;
            }()
        });
    </script>
}