@model MembreCreateEditVM
@{
    string textAction = "Ajouter";
    string formAction = "Create";

    if (Model.Membre.Id > 0)
    {
        textAction = "Modifier";
        formAction = "Edit";
    }

    ViewData["Title"] = textAction + "un membre";
}

<div id="product-createedit-page" class="container-fluid">
    <div class="row">
        <div class="offset-md-1 offset-lg-2 col-md-10 col-lg-8">
            <div class="page-title">
                <h2>
                    <i class="fas fa-list"></i>
                    @textAction un membre
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="form-section">
                <form asp-action="@formAction" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Membre.Id" /> @*Pas besoin de l'afficher il sera passé dans l'url*@

                    <div class="form-horizontal">
                        <hr />
                        <div class="form-group row">
                            <label asp-for="Membre.Pseudo" class="col-form-label col-md-3 gauche"></label>
                            <div class="col-md-9 gauche">
                                <input asp-for="Membre.Pseudo" class="form-control" />
                                <span asp-validation-for="Membre.Pseudo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Membre.Courriel" class="col-form-label col-md-3 gauche"></label>
                            <div class="col-md-9 gauche">
                                <input asp-for="Membre.Courriel" class="form-control" />
                                <span asp-validation-for="Membre.Courriel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Membre.Username" class="col-form-label col-md-3 gauche"></label>
                            <div class="col-md-9 gauche">
                                <input asp-for="Membre.Username" class="form-control" />
                                <span asp-validation-for="Membre.Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Membre.MotDePasse" class="col-form-label col-md-3 gauche"></label>
                            <div class="col-md-9 gauche">
                                <input asp-for="Membre.MotDePasse" class="form-control" />
                                <span asp-validation-for="Membre.MotDePasse" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label asp-for="Membre.Role" class="col-form-label col-md-3"></label>
                            <div class="col-md-9 gauche">
                                <select asp-for="Membre.Role" asp-items="@(new SelectList(Model.LesRoles, "Role"))" class="form-control">
                                    <option value="0"></option>
                                </select>
                                <span asp-validation-for="Membre.Role" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="uploadfile" class="col-form-label col-md-3">Membre.Profil</label>
                            <div class="col-md-9">
                                <input type="file" id="uploadfile" name="uploadfile" accept=".jpg,.png,.gif" />
                                <div>
                                    <span asp-validation-for="Membre.Profil" class="text-danger"></span>
                                </div>
                        </div>
                        <hr />
                    </div>
                    <div class="text-center">
                        <input type="submit" value="@textAction" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-12 links">
                <a asp-action="List">Retour à la liste des membres</a>
            </div>
        </div>

    </div>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
